In [4]:
import pandas as pd

pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [5]:

pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
pd.Series([30,35,40],index=['2015 Sales','2016 Sales','2017 Sales'],name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [15]:
series1 = pd.Series([30, 45, 60], name="Bob")
series2 = pd.Series([130, 145, 160], name="Alice")

pd.DataFrame({"Bob": series1, "Alice": series2})

   Bob  Alice
0   30    130
1   45    145
2   60    160

In [17]:
fruits = pd.DataFrame({"Apple": [30], "Bananas": [21]})
print(fruits)

   Apple  Bananas
0     30       21

In [18]:
fruit_sales = pd.DataFrame({"Apples":[35,41],"Bananas":[21,34]},index=['2017 Sales','2018 Sales'])
print(fruit_sales)

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [37]:
ingredients = pd.Series(["4 cups", "1 cup", "2 large", "1 can"], index=[
                        "Flour", "Milk", "Eggs", "Spam"], name="Dinner")
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [39]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]},)
print(animals)

   Cows  Goats
0    12     22
1    20     19